ul{
    list-style: none;
    padding: 0;

}

ul li{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 10px;
}

.description{
    display: flex;
    align-items: center;
}

.button{
    padding: 10px;
    font-size: 1.2em;
    cursor: pointer;
    transition: 200ms;
    color: #1f1f1f;
}

.button:hover{
    scale: 125%;
}

.done{
    text-decoration: line-through;
}

